- var ctaLink = book_a_lab_test_url
doctype html
html
    head
        meta(charset='utf-8')
        | &#x9;
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        | &#x9;
        title Cancellation
        | &#x9;
        link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap', rel='stylesheet')
        | &#x9;
        style.
          body {
          margin: 0;
          padding: 0;
          font-size: 0;
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
          font-family: 'Poppins', sans-serif;
          color: #000000;
          }
          img {
          -ms-interpolation-mode: bicubic;
          }
    body(style="margin: 0; padding: 0; font-size: 0; font-family: Poppins, sans-serif; background-color: #FFFFFF;")
        center(style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px;") 
            | &#x9;&#x9;
            table(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(600px); background: #FFFFFF; margin: 0 auto; border: 1px solid #F0F0F0;')
                tbody
                    tr
                        td(style='padding-top: 16px; padding-left: 16px;', width="80%")
                            img(style='height: 30px; width: 98px;', alt='', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627924999/cfx18yefzgoclhoyvmjh.png')
                        td(style='padding-top: 16px; padding-right: 16px; text-align: right;', width="20%")
                            img(style='height: 30px; width: 129px;', alt='', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627923983/bbhxsxwbcmaam4brayyw.png')
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style="padding: 16px 16px 0px 16px;", colspan="2", width="100%")
                            hr(style="border:0px; border-top: 1px solid #F0F0F0; height: 1px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 26px 16px 16px 16px;', colspan="2", width='100%')
                            div(style='text-align: center; font-family: Poppins, sans-serif;')
                                img(height="100px", width="100px", src="https://res.cloudinary.com/dusqx2w0c/image/upload/v1629193319/h8y9nfzvuvhioglipdtx.png")
                            div(style='font-size: 30px; font-weight: 600; text-align: center; padding-top: 18px; font-family: Poppins, sans-serif;') Lab test benefit restored
                            div(style='font-size: 24px; font-weight: 400; text-align: center; padding-top: 8px; color: #767676; font-family: Poppins, sans-serif;') #{test_name} test cancelled
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style="padding: 0px 16px;", colspan="2", width='100%')
                            hr(style="border:0px; border-top: 1px solid #F0F0F0; height: 1px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 16px; text-align: left; font-family: Poppins, sans-serif;', colspan="2", width='100%')
                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                tbody
                                    tr
                                        td(width='100%')
                                            div
                                                div(style='font-weight: 500; font-size: 18px; font-family: Poppins, sans-serif;') Hello Care Plan member,
                                                div(style='font-size: 16px; font-weight: 400; padding-top: 16px; font-family: Poppins, sans-serif;')
                                                    | Your Care Plan lab test benefit has been restored to your membership as you have cancelled your 
                                                    span(style="font-weight: 500; font-family: Poppins, sans-serif;") #{test_name} test 
                                                    | for 
                                                    span(style="font-weight: 500; font-family: Poppins, sans-serif;") #{date} 
                                                    | between 
                                                    span(style="font-weight: 500; font-family: Poppins, sans-serif;") #{slot}. 
                                                    | #{message}
                                                div(style='font-size: 18px; font-weight: 500; padding-top: 32px; font-family: Poppins, sans-serif;') #{tests_left}
                                                div(style='margin-top: 16px; text-align: center; cursor: pointer; background-color: #FF6F61; width: 100%; border: none; border-radius: 4px; padding: 12px 0;')
                                                    a(style='font-size: 20px; font-weight: 600; color: #ffffff;  cursor: pointer; text-decoration: none; margin-top: 20px; font-family: Poppins, sans-serif;', href='{{ctaLink}}', target='_blank') Book a lab test
                    if show_details
                        | &#x9;&#x9;&#x9;&#x9;
                        tr
                            td(colspan="2" width='100%')
                                hr(style="border:0px; border-top: 2px solid #F0F0F0; height: 2px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    if show_details
                        | &#x9;&#x9;&#x9;&#x9;
                        tr
                            td(style="padding: 32px 16px 16px 16px; text-align: left; font-family: Poppins, sans-serif;", colspan="2", width="100%")
                                div(style="font-size: 24px; font-weight: 600; color: #208376; font-family: Poppins, sans-serif;") Refund initiated
                                div(style="font-size: 18px; font-weight: 400; color: #767676; padding: 16px 0px; font-family: Poppins, sans-serif;") Order ID : #{order_id}
                        tr
                            td(style="padding: 0px 16px 16px 16px; text-align: left; font-family: Poppins, sans-serif;", width="100%", colspan="2")
                                table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                    tbody
                                        tr 
                                            td(style="text-align: left;" width="50%")
                                                div(style="font-size: 18px; font-weight: 400; font-family: Poppins, sans-serif;") Payment Mode
                                            td(style="text-align: right;" width="50%") 
                                                div(style="font-size: 18px; font-weight: 500; font-family: Poppins, sans-serif;") #{payment_mode}
                        | &#x9;&#x9;&#x9;&#x9;
                        tr
                            td(style='padding: 0px 16px;', colspan="2", width='100%')
                                hr(style="border:0px; border-top: 1px solid #F0F0F0; height: 1px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                        | &#x9;&#x9;&#x9;&#x9;
                        tr
                            td(style='padding: 16px 16px 32px 16px; text-align: left; font-family: Poppins, sans-serif;', colspan="2", width='100%' )
                                table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                    tbody
                                        tr
                                            td(width='100%' colspan="2")
                                                div(style='font-weight: 600; font-size: 20px; font-family: Poppins, sans-serif;') Tata 1mg Labs
                                        tr
                                            td(style="padding-top: 16px;", width="50%")
                                                div(style="font-size: 18px; font-weight: 400; font-family: Poppins, sans-serif;") #{test_name} test
                                            td(width="50%")
                                                div(style="font-size: 18px; font-weight: 500; text-align: right; font-family: Poppins, sans-serif;") ₹#{test_price}
                                        tr
                                            td(style="padding-top: 8px;", width="50%")
                                                div(style="font-size: 18px; font-weight: 400; font-family: Poppins, sans-serif;") Care Plan Discount
                                            td(width="50%")
                                                div(style="font-size: 18px; font-weight: 500; text-align: right; color: #208376; font-family: Poppins, sans-serif;") (-)₹#{discount}
                                        tr
                                            td(style="padding-top: 8px;", width="50%")
                                                div(style="font-size: 18px; font-weight: 400; font-family: Poppins, sans-serif;") Collection Charges
                                            td(width="50%")
                                                div(style="font-size: 18px; font-weight: 500; text-align: right; color: #208376; font-family: Poppins, sans-serif;") Free for members
                                        tr
                                            td(style='padding: 16px 0px;', colspan="2", width='100%')
                                                hr(style='width: 100%; height: 1px; background-color: #f0f0f0; border: none;')
                                        tr
                                            td(width="50%")
                                                div(style="font-size: 20px; font-weight: 600; font-family: Poppins, sans-serif;") Refund amount
                                            td(width="50%")
                                                div(style="font-size: 20px; font-weight: 600; text-align: right; font-family: Poppins, sans-serif;") ₹#{refund_amount}
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(colspan="2", width='100%')
                            hr(style="border:0px; border-top: 2px solid #F0F0F0; height: 2px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 32px 16px 16px 16px; text-align: left; font-family: Poppins, sans-serif;', colspan="2", width='100%')
                            div(style='font-weight: 500; font-size: 20px; font-family: Poppins, sans-serif;') With lots of care,
                            div(style='font-weight: 400; font-size: 18px; color: #767676; font-family: Poppins, sans-serif;') Care Plan team
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(colspan="2", width='100%')
                            hr(style="border:0px; border-top:4px solid #F0F0F0; height:4px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 16px; font-family: Poppins, sans-serif;', colspan="2", width='100%')
                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                tbody
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    tr
                                        td(style='vertical-align: baseline; padding-right: 40px; overflow-x: hidden;')
                                            div 
                                                a(href='https://www.1mg.com/' target='_blank')
                                                    img(style='display: block;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627925026/is7vr6pawfxkwrrudquu.png', width='167px', height='52px')
                                                div(style='font-size: 14px; font-weight: 400; padding-top: 8px; text-align: left; font-family: Poppins, sans-serif;') Bringing Care to Health
                                        td(style='vertical-align: baseline; overflow-x: hidden;')
                                            div(style=' text-align: center;') 
                                                img(style='display: block; margin: 0 auto;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1628488926/ov2mvwly5v1pa9sz1pfb.png', width='48px', height='48px')
                                                div(style='font-size: 12px; font-weight: 400; padding-top: 8px; color: #767676; font-family: Poppins, sans-serif;') Order Medicines
                                        td(style='vertical-align: middle; padding-left: 8px; padding-right: 8px; overflow-x: hidden;')
                                            div(style='border-left: 1px solid #767676; height: 27px;')
                                        td(style='vertical-align: baseline; overflow-x: hidden;')
                                            div(style=' text-align: center;') 
                                                img(style='display: block; margin: 0 auto;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1628488947/zvqfuvyv02uiobzdtkl2.png', width='48px', height='48px')
                                                div(style='font-size: 12px; font-weight: 400; padding-top: 8px; color: #767676; font-family: Poppins, sans-serif;') Book lab test
                                        td(style='vertical-align: middle; padding-left: 8px; padding-right: 8px; overflow-x: hidden;')
                                            div(style='border-left: 1px solid #767676; height: 27px;')
                                        td(style='vertical-align: baseline; overflow-x: hidden;')
                                            div(style=' text-align: center;')  
                                                img(style='display: block; margin: 0 auto;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1628488966/pku2ertkw099kaqfgq9n.png', width='48px', height='48px')
                                                div(style='font-size: 12px; font-weight: 400; padding-top: 8px; color: #767676; font-family: Poppins, sans-serif;') Consult doctors
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                   
                                    tr
                                        td(style='padding-top: 32px; padding-bottom: 8px;', width='100%', colspan='6')
                                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                tbody
                                                    tr
                                                        td(style="text-align: left;" width='100%')
                                                            div(style='font-size: 14px; color: #767676; font-family: Poppins, sans-serif;') Need help?
                                                            a(style='font-size: 14px; color: #ff6f61; padding-top: 16px;', href='https://www.1mg.com/support/chat?page_id=CONTACT_US::chat_icon&bu=pharmacy&label=Default', target="_blank") Contact us here
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                           
                                    tr
                                        td(colspan='6')
                                            hr(style="border:0px; border-top:1px solid #F0F0F0; height:1px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    tr
                                        td(style="text-align: left;", colspan='3')
                                            div(style='font-size: 16px; color: #a9a9a9; padding-top: 40px; font-family: Poppins, sans-serif;') Download the app
                                            a(href='https://play.google.com/store/apps/details?id=com.aranoah.healthkart.plus&utm_source=download_android_app&utm_medium=email&utm_campaign=Careplan_welcome' target='_blank')
                                                img(style='display: inline; padding-top: 16px; padding-right: 8px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1628488892/la2an9j6kdw6jrs2loak.png', width='140px', height='40px')
                                            a(href='https://apps.apple.com/in/app/1mg/id554578419?utm_source=download_ios_app&utm_medium=email&utm_campaign=Careplan_welcome' target='_blank')
                                                img(style='display: inline; padding-top: 16px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1628488842/mu93fukulmqhmrd46lej.png', width='140px', height='40px')
                                        td(style="text-align: left;", colspan='3')
                                            div(style='font-size: 16px; color: #a9a9a9; padding-top: 40px; font-family: Poppins, sans-serif;') Connect with us
                                            a(href='https://www.facebook.com/1mgOfficial/' target='_blank')
                                                img(style='display: inline; padding-top: 16px; padding-right: 15px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889104/qsoskb2mklmfhcy648lc.png', width='40px', height='40px')
                                            a(href='https://twitter.com/1mgOfficial' target='_blank')
                                                img(style='display: inline; padding-top: 16px; padding-right: 15px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889138/cllhopjyonxpqmjqzgfi.png', width='40px', height='40px')
                                            a(href='https://www.instagram.com/1mgofficialpage/' target='_blank')
                                                img(style='display: inline; padding-top: 16px; padding-right: 15px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889168/prxuknetpb5awl2otvz9.png', width='40px', height='40px')
                                            a(href='https://www.youtube.com/channel/UCNUvsEya-Jq_Pw1t6R47hew' target="_blank")
                                                img(style='display: inline; padding-top: 16px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889186/y63nhfzg3vyzqqvuysrt.png', width='40px', height='40px')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    tr
                                        td(style="text-align: left;", colspan='6')
                                            div(style='font-size: 14px; padding-top: 40px; color: #767676; padding-bottom: 8px; font-family: Poppins, sans-serif;') © 2021 1mg, All rights reserved
                                            div(style='font-size: 12px; color: #a9a9a9; font-family: Poppins, sans-serif;') Tower -B-46/4, 5th floor, Presidency Building, Mehrauli Gurgaon Road, Sector-14, Gurugram, Haryana 122001 India