- var ctaLink = track_my_lab_test_url
doctype html
html
    head
        meta(charset='utf-8')
        | &#x9;
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        | &#x9;
        title Confirmation
        | &#x9;
        link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap', rel='stylesheet')
        | &#x9;
        style.
          body {
          margin: 0;
          padding: 0;
          font-size: 0;
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
          font-family: 'Poppins', sans-serif;
          color: #000000;
          }
          img {
          -ms-interpolation-mode: bicubic;
          }
    body(style="margin: 0; padding: 0; font-size: 0; font-family: Poppins, sans-serif; background-color: #FFFFFF;")
        center(style="background: #F9F9F9; padding-top: 10px; padding-bottom: 10px;")  
            | &#x9;&#x9;
            table(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(600px); background: #FFFFFF; margin: 0 auto; border: 1px solid #F0F0F0;')
                tbody
                    tr
                        td(style='padding-top: 16px; padding-left: 16px;', width="80%")
                            img(style='height: 30px; width: 98px;', alt='', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627924999/cfx18yefzgoclhoyvmjh.png')
                        td(style='padding-top: 16px; padding-right: 16px; text-align: right;', width="20%")
                            img(style='height: 30px; width: 129px;', alt='', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627923983/bbhxsxwbcmaam4brayyw.png')
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style="padding: 16px 16px 0px 16px;", colspan="2", width="100%")
                            hr(style="border:0px; border-top: 1px solid #F0F0F0; height: 1px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 26px 16px 16px 16px;', colspan="2", width='100%')
                            div(style='text-align: center; font-family: Poppins, sans-serif;')
                                img(height="100px", width="100px", src="https://res.cloudinary.com/dusqx2w0c/image/upload/v1626109571/mmstad7bbeiceyjeivee.png")
                            div(style='font-size: 30px; font-weight: 600; text-align: center; padding-top: 18px;') Lab test benefit utilized
                            div(style='font-size: 24px; font-weight: 400; text-align: center; padding-top: 8px; color: #767676;') #{test_name} booked
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style="padding: 0px 16px;", colspan="2", width='100%')
                            hr(style="border:0px; border-top: 1px solid #F0F0F0; height: 1px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 16px; text-align: left; font-family: Poppins, sans-serif;', colspan="2", width='100%')
                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                tbody
                                    tr
                                        td(width='100%')
                                            div
                                                div(style='font-weight: 500; font-size: 18px;') Hello Care Plan member,
                                                div(style='font-size: 16px; font-weight: 400; padding-top: 16px;')
                                                    | You have availed your Care Plan lab test benefit to book 
                                                    span(style="font-weight: 500;") #{test_name}. 
                                                    | Your lab test has been scheduled for 
                                                    span(style="font-weight: 500;") #{date} 
                                                    | between 
                                                    span(style="font-weight: 500;") #{slot}.
                                                div(style='font-size: 18px; font-weight: 500; padding-top: 32px;') #{tests_left}
                                                div(style='padding-top: 16px; text-align: center;')
                                                    a(href='{{ctaLink}}', target='_blank')
                                                        button(style='font-size: 20px; font-weight: 600; background-color: #FF6F61; width: 100%; height: 54px; color: #ffffff; border: none; border-radius: 4px;') Track my lab test

                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(colspan="2" width='100%')
                            hr(style="border:0px; border-top: 2px solid #F0F0F0; height: 2px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style="padding: 32px 16px 16px 16px; text-align: left; font-family: Poppins, sans-serif;", width="100%", colspan="2")
                            div(style="font-size: 24px; font-weight: 600; color: #208376;") Lab test Scheduled
                            div(style="font-size: 18px; font-weight: 400; color: #767676; padding: 16px 0px;") Order ID : #{order_id}
                            div(style="font-size: 18px; font-weight: 400;")
                                | Payment Mode 
                                span(style="font-weight: 500;") #{payment_mode}
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 0px 16px;', colspan="2", width='100%')
                            hr(style="border:0px; border-top: 1px solid #F0F0F0; height: 1px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 16px 16px 32px 16px; text-align: left; font-family: Poppins, sans-serif;', colspan="2", width='100%')
                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                tbody
                                    tr
                                        td(width='100%' colspan="2")
                                            div(style='font-weight: 600; font-size: 20px;') Tata 1mg Labs
                                    tr
                                        td(style="padding-top: 16px;", width="50%")
                                            div(style="font-size: 18px; font-weight: 400;") #{test_name}
                                        td(style="text-align: right;", width="50%")
                                            div(style="font-size: 18px; font-weight: 500; text-align: right;") ₹#{test_price}
                                    tr
                                        td(style="padding-top: 8px;", width="50%")
                                            div(style="font-size: 18px; font-weight: 400;") Care Plan Discount
                                        td(style="text-align: right;", width="50%")
                                            div(style="font-size: 18px; font-weight: 500; text-align: right; color: #208376;") (-)₹#{discount}
                                    tr
                                        td(style="padding-top: 8px;", width="50%")
                                            div(style="font-size: 18px; font-weight: 400;") Collection Charges
                                        td(style="text-align: right;", width="50%")
                                            div(style="font-size: 18px; font-weight: 500; text-align: right; color: #208376;") Free for members
                                    tr
                                        td(style='padding: 16px 0px;', colspan="2", width='100%')
                                            hr(style='width: 100%; height: 1px; background-color: #f0f0f0; border: none;')
                                    tr
                                        td(width="50%")
                                            div(style="font-size: 20px; font-weight: 600;") Total Paid
                                        td(style="text-align: right;", width="50%")
                                            div(style="font-size: 20px; font-weight: 600; text-align: right;") ₹#{total_paid}
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(colspan="2", width='100%')
                            hr(style="border:0px; border-top: 2px solid #F0F0F0; height: 2px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style="padding: 32px 16px; text-align: left; font-family: Poppins, sans-serif;", colspan="2", width="100%")
                            div(style="font-size: 20px; font-weight: 600;") Patient Details
                            div(style="font-size: 18px; padding-top: 16px") #{patient_name}
                            div(style="font-size: 18px; padding-top: 8px") #{address}
                            div(style="font-size: 18px; padding-top: 8px;") #{phone}
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(colspan="2", width='100%')
                            hr(style="border:0px; border-top: 2px solid #F0F0F0; height: 2px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 32px 16px 16px 16px; text-align: left; font-family: Poppins, sans-serif;', colspan="2", width='100%')
                            div(style='font-weight: 500; font-size: 20px;') With lots of care,
                            div(style='font-weight: 400; font-size: 18px; color: #767676;') Care Plan team
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(colspan="2" width='100%')
                            hr(style="border:0px; border-top:4px solid #F0F0F0; height:4px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                    | &#x9;&#x9;&#x9;&#x9;
                    tr
                        td(style='padding: 16px; font-family: Poppins, sans-serif;', colspan="2", width='100%')
                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                tbody
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    tr
                                        td(style='vertical-align: baseline; padding-right: 40px; overflow-x: hidden;')
                                            div 
                                                a(href='https://www.1mg.com/' target='_blank')
                                                    img(style='display: block;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627925026/is7vr6pawfxkwrrudquu.png', width='167px', height='52px')
                                                div(style='font-size: 14px; font-weight: 400; padding-top: 8px; text-align: left;') Bringing Care to Health
                                        td(style='vertical-align: baseline; overflow-x: hidden;')
                                            div(style=' text-align: center;') 
                                                img(style='display: block; margin: 0 auto;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627888973/fqt7fhospjn7pc6eej7f.png', width='48px', height='48px')
                                                div(style='font-size: 12px; font-weight: 400; padding-top: 8px; color: #767676;') Other Medicines
                                        td(style='vertical-align: middle; padding-left: 8px; padding-right: 8px; overflow-x: hidden;')
                                            div(style='border-left: 1px solid #767676; height: 27px;')
                                        td(style='vertical-align: baseline; overflow-x: hidden;')
                                            div(style=' text-align: center;') 
                                                img(style='display: block; margin: 0 auto;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889041/lbzham3sidikdax2yvxn.png', width='48px', height='48px')
                                                div(style='font-size: 12px; font-weight: 400; padding-top: 8px; color: #767676;') Book lab test
                                        td(style='vertical-align: middle; padding-left: 8px; padding-right: 8px; overflow-x: hidden;')
                                            div(style='border-left: 1px solid #767676; height: 27px;')
                                        td(style='vertical-align: baseline; overflow-x: hidden;')
                                            div(style=' text-align: center;')  
                                                img(style='display: block; margin: 0 auto;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889076/emgzqhfocq9ltrq6vncr.png', width='48px', height='48px')
                                                div(style='font-size: 12px; font-weight: 400; padding-top: 8px; color: #767676;') Consult doctors
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                   
                                    tr
                                        td(style='padding-top: 32px; padding-bottom: 8px;', width='100%', colspan='6')
                                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                tbody
                                                    tr
                                                        td(style="text-align: left;" width='100%')
                                                            div(style='font-size: 14px; color: #767676;') Need help?
                                                            a(style='font-size: 14px; color: #ff6f61; padding-top: 16px;', href='https://www.1mg.com/support/chat?page_id=CONTACT_US::chat_icon&bu=pharmacy&label=Default', target="_blank") Contact us here
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                           
                                    tr
                                        td(colspan='6')
                                            hr(style="border:0px; border-top:1px solid #F0F0F0; height:1px; color: #F0F0F0; background: #F0F0F0; margin:0px;")
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    tr
                                        td(style="text-align: left;", colspan='3')
                                            div(style='font-size: 16px; color: #a9a9a9; padding-top: 40px;') Download the app
                                            a(href='https://play.google.com/store/apps/details?id=com.aranoah.healthkart.plus&utm_source=download_android_app&utm_medium=email&utm_campaign=Careplan_welcome' target='_blank')
                                                img(style='display: inline; padding-top: 16px; padding-right: 8px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1625076731/marketing/x2y2jlp0cwwixorirm69.png', width='140px', height='40px')
                                            a(href='https://apps.apple.com/in/app/1mg/id554578419?utm_source=download_ios_app&utm_medium=email&utm_campaign=Careplan_welcome' target='_blank')
                                                img(style='display: inline; padding-top: 16px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1625076805/marketing/go0c8yjy9feftvulco5v.png', width='140px', height='40px')
                                        td(style="text-align: left;", colspan='3')
                                            div(style='font-size: 16px; color: #a9a9a9; padding-top: 40px;') Connect with us
                                            a(href='https://www.facebook.com/1mgOfficial/' target='_blank')
                                                img(style='display: inline; padding-top: 16px; padding-right: 15px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889104/qsoskb2mklmfhcy648lc.png', width='40px', height='40px')
                                            a(href='https://twitter.com/1mgOfficial' target='_blank')
                                                img(style='display: inline; padding-top: 16px; padding-right: 15px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889138/cllhopjyonxpqmjqzgfi.png', width='40px', height='40px')
                                            a(href='https://www.instagram.com/1mgofficialpage/' target='_blank')
                                                img(style='display: inline; padding-top: 16px; padding-right: 15px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889168/prxuknetpb5awl2otvz9.png', width='40px', height='40px')
                                            a(href='https://www.youtube.com/channel/UCNUvsEya-Jq_Pw1t6R47hew' target="_blank")
                                                img(style='display: inline; padding-top: 16px;', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1627889186/y63nhfzg3vyzqqvuysrt.png', width='40px', height='40px')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    tr
                                        td(style="text-align: left;", colspan='6')
                                            div(style='font-size: 14px; padding-top: 40px; color: #767676; padding-bottom: 8px;') © 2021 1mg, All rights reserved
                                            div(style='font-size: 12px; color: #a9a9a9;') Tower -B-46/4, 5th floor, Presidency Building, Mehrauli Gurgaon Road, Sector-14, Gurugram, Haryana 122001 India